.main-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main2-row {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  
  /* Style for the TopSenders container */
  .top-senders-container {
    width: 100%;
    margin: 0 auto; 
    text-align: center;
  }