.dashboard-container {
  font-family: Arial, sans-serif;
  margin-top: 10px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding: 20px;
}

.profile-picture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-name {
  font-size: 24px;
  margin-top: 10px;
}

.profile-email {
  color: #666;
}