.sidebar {
    background-color: #11043f; /* Light blue background */
    color: #fdfdfd; /* Darker blue for text */
    width: 18%;
    padding: 15px;
    display: flex;
    height: 100vw;
    position: fixed;
    font-family: 'Heebo';
    flex-direction: column;
    align-items: flex-start;
    margin-top: -75px;
}

.nav-links {
    width: 100%;
    margin-top: 20px;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fdfdfd; /* Darker blue for text */
    text-decoration: none;
    margin: 5px 0;
    font-size: 1rem;
    padding: 0px;
    transition: color 0.3s, background-color 0.3s, font-weight 0.3s;
    border-radius: 5px;
}

.nav-link:nth-child(3) {
    margin-bottom: 200px;
}

.nav-link img {
    margin-right: 15px;
    width: 20px;
    height: 20px;
}

.nav-link:hover {
    background-color: #1a2d55; /* Slightly darker blue for hover */
    color: #fdfdfd;; /* Keep text color consistent */
    cursor: pointer;
}

.nav-link.active {
    background-color: #fdfdfd; /* Active state color */
    font-weight: bold; /* Emphasize active link */
}

.dash-logo {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.dash-logo img {
    margin-right: 5px;
    width: 35px;
}

.dash-site-title {
    font-size: 1.4rem;
    color: #fdfdfd; /* Darker blue for title */
    font-weight: 400;
}
