@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Poppins:wght@300&display=swap');

.dashboard-container {
    display: flex;
    height: 110vh;
    font-family: 'Heebo', sans-serif;
    background-color: #fffbfb;
  }
  
  /* Sidebar */
  .sidebar {
    background-color: #fff;
    color: #000;
    width: 300px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .profile-section {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .profile-picture {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 20px 0;
    margin-top: 50px;
  }
  
  .profile-section h2 {
    font-size: 1.6rem;
    color: #111;
    font-weight: 600;
  }

  .profile-section h3 {
    font-size: 1rem;
    color: #666;
    font-weight: 600;
  }
  
  .budget-amount {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif; /* Use Poppins Light for the budget amount */
  }
  
  .budget-label {
    font-size: 0.9rem;
    color: #7f8c8d;
  }
  
  .nav-links {
    width: 100%;
    margin-top: 20px;
  }
  
  .nav-links a {
    display: flex;
    align-items: center;
    color: #555;
    text-decoration: none;
    margin: 15px 0;
    font-size: 1.2rem;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s, font-weight 0.3s;
    border-radius: 5px;
  }
  
  .nav-links a img {
    margin-right: 15px;
    width: 20px;
    height: 20px;
    margin-left: 50px;
  }
  
  .nav-links a:hover {
    color: #000000;
    text-shadow: 0px 4px 8px rgba(106, 104, 104, 0.2);
    cursor: pointer;
  }
  
  .dash-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    margin-left: -3px;
  }
  
  .dash-logo img {
    margin-right: 5px;
    width: 30px;
  }
  
  .dash-site-title {
    font-size: 1rem;
    font-weight: bold;
  }
  
  /* Main Content */
  .main-content {
    flex-grow: 1;
    padding: 30px;
    margin-left: 20px;
    position: relative;
  }
  
  .header {
    margin: 30px 0;
  }
  
  /* Unread Emails and Bar Graph Container */
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }
  
  .unread-emails-box {
    background-color: #fff;
    padding: 40px 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 45%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 6px 6px 12px rgba(139, 139, 139, 0.1);
    position: relative; /* Required for positioning child elements absolutely */
  }
  
  .unread-emails-box h2 {
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 1.2rem;
    color: #555;
  }
  
  .unread-emails-box p {
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 50px;
    color: #222;
    font-family: 'Poppins', sans-serif;
  }
  
  .bottom-elements {
    position: absolute;
    bottom: 15px;
    left: 40px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .user-email {
    font-size: 0.9rem;
    color: #666;
  }
  
  .unread-emails-box img {
    width: 110px;
    height: 40px;
  }
  
  .next-summary {
    position: absolute;
    top: 450px;
    left: 0;
    margin-top: 10px; /* Space above the next-summary text */
    font-size: 14px;
    color: #777;
    text-align: left;
  }

  /* New styles for category selector */
  .selector-container {
    position: absolute;
    top: 37px; /* Adjust as needed */
    right: 30px; /* Adjust as needed */
    display: flex;
    align-items: center;
  }
  
  .category-selector {
    padding: 5px;
    font-size: 14px; /* Adjust font size as needed */
  }  
  
  .line-graph-container {
    padding: 20px;
    width: 50%;
    display: block;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: -20px;
  }

  .line-graph-container h2 {
    font-size: 1rem;
    margin-left: 10px;
  }
  
  /* Stats Section */
  .stats {
    position: absolute; /* Absolute positioning */
    right: 0; /* Align to the right side */
    top: 470px; /* Adjust vertical alignment to push the section down */
    margin-bottom: 30px;
    margin-right: 10px;
    width: 50%; /* Adjust width as needed */
  }

  .small-stats {
    display: flex;
  }
  
  .read-stat-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 6px 6px 12px rgba(139, 139, 139, 0.1);
  }

  .stat-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 0 10px;
    text-align: center;
    box-shadow: 6px 6px 12px rgba(139, 139, 139, 0.1);
  }
  
  .read-stat-box h2 {
    color: #1041bd;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .stat-box h3 {
    color: #109148;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .stat-box h1 {
    color: #c42a1f;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .stat-box p {
    font-size: 1.2rem;
  }

  .read-stat-box p {
    font-size: 1.8rem;
  }

  .settings-container {
    font-family: 'Heebo', sans-serif;
    padding: 20px;
}

.settings-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.settings-error {
    color: red;
    margin-bottom: 15px;
}

.settings-message {
    color: green;
    margin-bottom: 15px;
}

.settings-form {
    display: flex;
    flex-direction: column;
}

.settings-form-group {
    margin-bottom: 15px;
}

.settings-label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.settings-select {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
}

.settings-button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
  