@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&display=swap'); /* Replace with the correct font if Heather Bold is available */

* {
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #4d5974;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 4rem;
  width: 80%;
  flex: 1; /* Make the container grow and take available space */
}

.container h1 {
  font-size: 3rem;
  color: #111;
  text-align: center;
  font-family: 'Heebo', sans-serif; /* Apply Heather Bold font */
  font-weight: 700; /* Ensures the bold weight is applied */
  margin-bottom: 40px;
}

.container p {
  text-align: center;
  font-weight: 700;
  color: #888;
  margin-bottom: -5px;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #324c68;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #0c7d8e;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #324c68;
  border: 1px solid #3674b2;;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #3674b2;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin: 30px 0;
  color: #666;
}
