/* src/components/Header.css */
header {
    background: #e3f2fd; /* Very light blue */
    color: #333; /* Dark text color for contrast */
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo {
    width: 50px; /* Adjust the size of the logo */
    height: auto;
    margin-right: 10px;
    margin-left: 20px;
  }
  
  .site-title {
    font-size: 1.5rem;
    color: #333;
    font-weight: 600;
  }
  
  nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-right: -10px;
  }
  
  nav ul li {
    margin: 0 25px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .login-button {
    background: #e3f2fd;
    border: none;
    color: #333;
    padding: 10px 20px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px; /* Increased border-radius for cylindrical look */
    margin-left: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    border: 0.5px solid #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-button:hover {
    background: #d1e5f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  .signup-button {
    background: #6ebef7;
    border: none;
    color: #333;
    padding: 15px 30px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    border-radius: 25px; /* Increased border-radius for cylindrical look */
    margin-left: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .signup-button:hover {
    background: #5caaf3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  html {
    scroll-behavior: smooth;
  }  