/* Other styles */
.home {
  padding: 20px 0;
  padding-bottom: 0;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: left; /* Center content horizontally */
  justify-content: left; /* Center content vertically */
  height: 600px; /* Ensure there's enough space for the content */
  padding: 0 20px; /* Add padding to avoid content touching edges */
  box-sizing: border-box; /* Include padding in the element’s total width and height */
  margin-left: 80px;
}

.home-content h1,
.home-content p {
  max-width: 660px; /* Limit the maximum width of the text */
  text-align: left; /* Align text to the left */
}

.home-content h1 {
  font-size: 4rem;
  font-weight: 800;
  margin: 40px 0 20px; /* Adjust margin to ensure spacing */
}

.home-content p {
  color: #333;
  margin: 10px 0 20px; /* Margin adjusted to align with text alignment */
  margin-top: 20px;
}

.home-content p.check {
  color: #444; /* For cancel text */
  margin: 8px 0; /* Reduced vertical spacing */
  margin-left: 5px;
}

.home-content p.cancel {
  color: #888; /* For cancel text */
  margin: 10px 0; /* Reduced vertical spacing */
  margin-top: 85px;
  margin-left: 25px;
  font-size: 0.9rem;
}

.try-button {
  background: #6ebef7;
  border: none;
  color: #333;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 25px; /* Increased border-radius for cylindrical look */
  position: absolute; /* Positioning the button absolutely */
  left: 100px; /* Adjusts the distance from the left edge of the screen */
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 480px;
}

.try-button:hover {
  background: #5caaf3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.email-counter-container {
  position: absolute; /* Absolute positioning */
  top: 150px; /* Adjust as needed to move it up */
  right: 150px; /* Adjust as needed to move it to the right */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-counter h1 {
  font-size: 2rem;
  color: #333;
  margin: 0; /* Remove default margin */
}

/* Features Section */
.features {
  padding: 20px 0;
  border-radius: 8px;
  height: 600px; /* Set height for the features section */
}

.features h2 {
  text-align: center;
  margin-bottom: 20px;
}

.features ul {
  list-style-type: none;
  padding: 0;
}

.features ul li {
  margin: 10px 0;
}

/* Testimonials Section */
.testimonials {
  padding: 20px 0;
  background-color: #eff7fd; /* Light background for the testimonials section */
  height: 800px; /* Set height for the testimonials section */
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 3rem;
}

.testimonials h3 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 1.1rem;
}

.testimonials blockquote {
  margin: 20px auto;
  padding: 20px;
  border-left: 4px solid #007BFF;
  background-color: #fff;
  border-radius: 8px;
  max-width: 600px;
}

.testimonials footer {
  text-align: right;
  font-style: italic;
  margin-top: 10px;
}

.homepricing {
  padding: 10px 20px;
  background-color: #eff7fd;
}

.homepricing h1 {
  text-align: center;
  font-size: 4rem;
  color: #333;
  margin-bottom: 10px;
  margin-top: 50px;
}

.homepricing h2 {
  text-align: center;
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 400;
}
