/* Import Plus Jakarta Sans font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap');

/* Apply Plus Jakarta Sans font to the entire page */
body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Other styles */
.home {
  padding: 20px 0;
  background-color: rgb(237, 240, 250);
  margin-top: 80px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  height: fit-content; /* Ensure there's enough space for the content */
  padding: 0 20px; /* Add padding to avoid content touching edges */
  box-sizing: border-box; /* Include padding in the element’s total width and height */
  margin: 0; /* Remove left margin */
}

.home-content h1,
.home-content p {
  max-width: 660px; /* Limit the maximum width of the text */
  text-align: center; /* Center text horizontally */
}

.home-content h1 {
  font-size: 4rem;
  font-weight: 800;
  margin: 40px 0 20px; /* Adjust margin to ensure spacing */
}

.home-content p {
  color: #333;
  margin: 10px 0 20px; /* Margin adjusted to align with text alignment */
}

.home-content p.check {
  color: #444; /* For check text */
  margin: 8px 0; /* Reduced vertical spacing */
}

.home-content p.cancel {
  color: #888; /* For cancel text */
  margin: 10px 0; /* Reduced vertical spacing */
  margin-top: 75px;
  font-size: 0.9rem;
}

.try-button {
  background: #6ebef7;
  border: none;
  color: #333;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 25px; /* Increased border-radius for cylindrical look */
  position: relative; /* Change to relative positioning */
  text-align: center;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 20px; /* Adjust margin for spacing */
}

.try-button:hover {
  background: #5caaf3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.email-counter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px; /* Adjust margin for spacing */
}
