/* src/components/Pricing.css */
.pricing {
  padding: 10px 20px;
  background-color: #fafcff;
}

.pricing h1 {
  text-align: center;
  font-size: 4rem;
  color: #333;
  margin-bottom: 10px;
  margin-top: 30px;
}

.pricing h2 {
  text-align: center;
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 400;
}

.pricing-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.toggle-button {
  background-color: #e9ecef;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-button.active {
  background-color: #007BFF;
  color: white;
  border: none;
}

.pricing-plans {
  display: flex;
  justify-content: center; /* Aligns plans to the start with less space between them */
  flex-wrap: wrap;
  gap: 5px; /* Adds a small gap between the plans */
}

.pricing-plan {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 30px;
  margin: 15px;
  max-width: 320px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 30px;
}

.pricing-plan:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.pricing-plan h2 {
  margin-bottom: 30px;
  font-size: 1.8em;
  color: #333;
}

.pricing-plan .price {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 1000;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.original-price {
  color: #444;
  margin-right: 10px;
  font-size: 0.9rem;
  font-weight: 600;
}

.discounted-price {
  color: #333;
  font-size: 3rem; /* Larger font for the discounted price amount */
}

.per-mo-small {
  font-size: 0.5em; /* Smaller font size for /mo */
  margin-left: 5px;
  font-weight: 400;
}

.billed-yearly {
  font-size: 0.9rem;
  color: #666;
  width: 100%;
  text-align: center;
  margin-top: 5px;
  font-weight: 500;
  position: relative; /* Adjusted for positioning */
  display: inline-block; /* Keeps everything in-line */
}

.save-button {
  background-color: #a5f2b7;
  color: #333;
  font-size: 0.8rem;
  padding: 3px 8px;
  border-radius: 5px;
  margin-left: 10px; /* Space between the billed yearly text and the button */
  display: inline-block;
  border: 1px solid #28a745;
  font-weight: 300;
}

.save-button b {
  font-weight: bold;
}

.pricing-plan ul {
  list-style: none;
  padding: 0;
  margin: 25px 0;
  margin-top: 30px;
  color: #666;
}

.pricing-plan ul li {
  margin: 12px 0;
  font-size: 1.1em;
}

.pricing-plan .cta-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.pricing-plan .cta-button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.trial-text {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
  font-weight: 600;
}

.cancel-text {
  font-size: 0.85rem;
  color: #777;
  margin-top: 5px;
  font-weight: 500;
}

.instructions {
  text-align: center;
}