.custom-top-nav {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    width: 80%; /* Set width to 80% */
    height: 75px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    padding: 0 24px; /* Adjust padding for spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-left: auto; /* Push the nav bar to the right */
}


.custom-profile-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px; /* Space between elements */
    margin-right: 25px;
}

.custom-profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Make it a circle */
    margin-right: 5px;
}

.custom-profile-name {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}


.custom-dropdown-menu {
    position: absolute;
    top: 64px; /* Position it right below the nav */
    right: 50px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    min-width: 160px;
    padding: 0; /* Remove padding to ensure items align correctly */
}

.custom-dropdown-item {
    display: flex; /* Use flexbox to align icons and text */
    align-items: center; /* Vertically center items */
    padding: 10px 16px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

.custom-dropdown-item:hover {
    background-color: #f8f5f5;
}

.custom-dropdown-item:first-child {
    border-bottom: 1px solid #c5c5c5;
    font-weight: 500;
}
