body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
  
  .top-senders-container {
    text-align: center;
    max-width: 100%;
    margin: 10px auto;
    padding: 20px;
    background-color: #fffbfb;
    border-radius: 4px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  }
  
  .time-range-selector {
    display: flex;
    align-items: center; /* Vertically align h2 and select */
    justify-content: space-between; /* Push h2 to the left and select to the right */
    width: 80%;
}

.time-range-selector h2 {
    text-align: left;
    margin-left: 5px;
}

.time-range-selector select {
    border: none;
    font-size: 0.8rem;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
}
  
  .error-message {
    color: red;
  }
  
  .loading-spinner {
    width: 24px;
    height: 24px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .table-container {
    max-width: 100%;
    overflow-x: auto;
    margin-top: 20px;
  }
  
  /* Ensure that the entire table follows a fixed layout */
.senders-table {
    width: 100% !important;
    border-collapse: collapse !important;
    margin: 0 auto !important;
    table-layout: fixed !important; /* Add this to enforce fixed column widths */
}

/* Set exact widths for columns */
.senders-table th:nth-child(1), 
.senders-table td:nth-child(1) {
    width: 40%; /* "From" column */
    overflow: hidden; /* Hide overflow */
    font-size: 14px;
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    text-align: left;
}

.senders-table th:nth-child(2), 
.senders-table td:nth-child(2) {
    width: 30%;
    text-align: left;
    font-size: 14px;
}

.senders-table th:nth-child(3), 
.senders-table td:nth-child(3) {
    width: 30%;
    text-align: left;
}

.senders-table th, .senders-table td {
    padding: 20px 12px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-weight: 400;
    white-space: nowrap; /* Prevent text from wrapping */
}

.senders-table th {
    font-weight: 600;
    padding: 15px 12px;
}
  
  .unsubscribe-cell {
    text-align: center;
  }
  
  .unsubscribe-button {
    text-transform: none;
    border: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: none;
    padding: 10px;
    color: rgb(43, 43, 250);
    font-weight: 600;
    cursor: pointer;
    padding: 0;
  }
  
  .unsubscribe-button:hover {
    color: rgb(0, 0, 177);
  }
  